{%extends "base.html"%} {%block loggs%}
<br />
<table id="table">
  <thead>
    <tr class="text-center">
      <th data-field="ip">Direccion IP</th>
      <th data-field="date">Fecha</th>
      <th data-field="user">Usuario</th>
    </tr>
  </thead>
</table>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
  integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  var $table = $("#table");
  const url = "/api/v1/loggs";
  var header = {
    headers: {
      Authorization: "Bearer " + "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjEyMjcyNTA1LCJqdGkiOiI0ZWMyODRkNjAzOWY0YTNlOGIyODdmMWU5OTY4YTY4YyIsInVzZXJfaWQiOjJ9.kr9TddE_ISAnMuYBQQ6imh7qcyXNIiBAmzhn-Wp3-iM",
    },
  };

  function getDataPromise() {
    return axios
      .get(url, header)
      .then((res) => res.data)
      .catch((err) => {});
  }
  getDataPromise().then((res) => {
    $table.bootstrapTable({ data: res.results });
  });
</script>
{%endblock loggs%}
