{%extends "base.html"%} {%block logs%}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form onsubmit="return false">
        <div class="form-group">
          <label for="InputUser">User</label>
          <input
            type="text"
            class="form-control"
            id="InputUser"
            aria-describedby="UserHelp"
            placeholder="Enter User"
          />
        </div>
        <div class="form-group">
          <label for="InputPassword">Password</label>
          <input
            type="password"
            class="form-control"
            id="InputPassword"
            placeholder="Password"
          />
        </div>
        <button class="btn btn-primary" id="demo" onclick="pull_log()">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>

<h3 id="auth" class="mt-5 text-center"></h3>

<table id="table" style="visibility: hidden">
  <thead>
    <tr class="text-center">
      <th data-field="ip">Direccion IP</th>
      <th data-field="date">Fecha</th>
      <th data-field="user">Usuario</th>
    </tr>
  </thead>
</table>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
  integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  function pull_log() {
    getToken().then((res) => {
      var token = res.data.access;
      getDataPromise(token).then((res) => {
        console.log(res);
        var $table = $("#table");
        $table.bootstrapTable({ data: res });
        document.getElementById("auth").innerHTML = "";
        document.getElementById("table").style.visibility = "visible";
      });
    });
  }
  function getToken() {
    return axios({
      method: "post",
      url: "http://127.0.0.1:8000/api/token",
      headers: {},
      data: {
        username: document.getElementById("InputUser").value,
        password: document.getElementById("InputPassword").value, // This is the body part
      },
    }).catch((err) => {
      if (err.response.status === 401) {
        document.getElementById("auth").innerHTML = "Usuario no authorizado";
        document.getElementById("table").style.visibility = "hidden";
      }
      return {};
    });
  }
  function getDataPromise(token) {
    var header = {
      headers: {
        Authorization: "Bearer " + token,
      },
    };
    var url = "/api/v1/logs";
    return axios
      .get(url, header)
      .then((res) => res.data)
      .catch((err) => {
        if (err.response.status === 401) {
          document.getElementById("auth").innerHTML = "Usuario no authorizado";
        }
        return {};
      });
  }
</script>
{%endblock logs%}
