{%extends "base.html"%} {%block logs%}

<h3 id="auth" class="mt-5 text-center"></h3>
<table id="table">
  <thead>
    <tr class="text-center">
      <th data-field="ip">Direccion IP</th>
      <th data-field="date">Fecha</th>
      <th data-field="user">Usuario</th>
    </tr>
  </thead>
</table>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
  integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  var $table = $("#table");
  const url = "/api/v1/logs";
  var header = {
    headers: {
      Authorization:
        "Bearer " +
        "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjEyNDQ2MDc4LCJqdGkiOiI1Yzc0NmQwNTI5NjI0M2U2YTcwNDlmM2Y4NTkyNDAxYyIsInVzZXJfaWQiOjJ9.fjIZs9ozcBSV4JHos4GxhKgOqx3CsZWxDj0lyUWpSa8",
    },
  };

  function getDataPromise() {
    return axios
      .get(url, header)
      .then((res) => res.data)
      .catch((err) => {
        if (err.response.status === 401) {
          document.getElementById("auth").innerHTML = "Usuario no authorizado";
        }
        return {};
      });
  }
  getDataPromise().then((res) => {
    $table.bootstrapTable({ data: res.results });
  });
</script>
{%endblock logs%}
